;----------------------------- INMOOV LIFE CONFIGURATION ----------------------------------------

;wip health check
[HEALTHCHECK]
Activated=False
TimerValue=60000

;ramdom move the head
[MOVEHEADRANDOM]
RobotCanMoveHeadWhileSpeaking=True

;ramdom move the eyeLids
[MOVEEYELIDSRANDOM]
RobotCanMoveEyeLids=True

;ramdom move the Hands
[BOTHHANDSRANDOM]
RobotCanBothHands=True

;ramdom move the LeftHand
[LEFTHANDRANDOM]
RobotCanLeftHand=True

;ramdom move the RightHand
[RIGHTHANDRANDOM]
RobotCanRightHand=True

;ramdom move the Stomach
[STOMACHRANDOM]
RobotCanStomach=True

;ramdom move the Arms
[BOTHARMSRANDOM]
RobotCanBothArms=True

;ramdom move the Neck
[NECKRANDOM]
RobotCanNeck=True

;ramdom move the Look
[LOOKRANDOM]
RobotCanLook=True

;ramdom move the LeftArm
[LEFTARMRANDOM]
RobotCanLeftArm=True

;ramdom move the RightArm
[RIGHTARMRANDOM]
RobotCanRightArm=True

[SLEEPMODE]
Activated=True
UsePirToWakeUp=True
UsePirToActivateTracking=False

;Sleep 5 minutes after last presence detected
SleepTimeout=300000

;Turn off tracking 20 seconds after last presence detected
TrackingTimeout=10000
